.ui-icon-save:after {
    background-image: url("../media/save.png");
    /* Make your icon fit */
    background-size: 13px 13px;
}

.ui-icon-graph:after {
    background-image: url("../media/measurements.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}

.ui-li-icon-right {
    max-height: 40px!important;
    max-width: 40px!important;
    right: 10px!important;
    top: .9em!important;
}

/*#scriptcontent {
    height: 200px!important;
    max-height: 200px!important;
}*/


.ui-page, .ui-content   {
	background: transparent!important;
	
}



.ui-page-theme-a, .ui-page-theme-a .ui-panel {
    background: transparent url(../media/hexellence.png) !important;
    background-repeat:repeat !important;
}

.ui-page-theme-b, .ui-page-theme-b .ui-panel {
    background: transparent url(../media/light_honeycomb.png) !important;
    background-repeat:repeat !important;
}


.ui-page-theme-e, .ui-page-theme-e .ui-panel {
    background: transparent url(../media/real_cf.png) !important;
    background-repeat:repeat !important;
}

.ui-page-theme-f, .ui-page-theme-f .ui-panel {
    background: transparent url(../media/ice_age.png) !important;
    background-repeat:repeat !important;
}




	
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.spinner {
    font-weight: bold;
}

.indicator_icon {
    width: 16px;
    height: 16px;
}

.headerButton {
    float: left;
    margin-right: 5px!important;
	vertical-align: middle!important;
}


